<h2><%=t :Editing %>&nbsp;<%=t :order_type_y %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @order_type %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), order_types_path %>
