<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :order_type_y %></h2>

<%= render 'form' %>


<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_order_type_path(@order_type) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), order_types_path %>
