<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label t(:Type) %><br>
    <%= f.collection_select(:source_type_id, @source_types, :id, :name) %>
    <%= link_to t('New'), new_source_type_path %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Description) %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Unit) %><br>
    <%= f.text_field :unit %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Unit_price) %><br>
    <%= f.text_field :unit_price %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions">
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
