<h2><%=t :Editing %>&nbsp;<%=t :source_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @source %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), sources_path %>
