<h1><%=t :listing_sources %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%=t :type %></td>
      <td><%=t :description %></td>
      <td><%=t :unit %></td>
      <td><%=t :unit_price %></td>
    </tr>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.source_type.name %></td>
        <td><%= source.description %></td>
        <td><%= source.unit %></td>
        <td><%= source.unit_price %></td>
        <td><%= link_to t('Show'), source %></td>
        <td><%= link_to t('Edit'), edit_source_path(source) %></td>
        <td><%= link_to t('Destroy'), source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_source'), new_source_path %>
