<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :source_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_source_path(@source) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), sources_path %>
