<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, :value => "inovak.gmail.com" %>
  </div>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :hour_rate %><br>
    <%= f.text_field :hour_rate, :value => 500  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
