<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label t(:User_name) %><br>
    <%= f.text_field :user_name, :value => @user_name %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Name) %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Hour_rate) %><br>
    <%= f.text_field :hour_rate, :value => @hour_rate  %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
