<h2><%=t :Editing %>&nbsp;<%=t :employee_e %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @employee %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), employees_path %>
