<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :employee_e %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_employee_path(@employee) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), employees_path %>
