<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Contract) %><br>
    <%= f.collection_select(:contract_id, @contracts, :id, :contract_number) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Number) %><br>
    <%= f.text_field :number %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Amount) %><br>
    <%= f.text_field :amount %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Issue_date) %><br>
    <%= f.text_field :issue_date %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Due_date) %><br>
    <%= f.text_field :due_date %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
