<h2><%=t :Listing %>&nbsp;<%=t :invoices_r %></h2>

<table cellspacing=15 >
  <tr>
    <td><%=t :Number %></td>
    <td><%=t :Amount %></td>
    <td><%=t :Issue_date %></td>
    <td><%=t :Due_date %></td>
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.number %></td>
      <td><%= invoice.amount %></td>
      <td><%= invoice.issue_date %></td>
      <td><%= invoice.due_date %></td>
      <td><%= link_to t('Show'), invoice %></td>
      <td><%= link_to t('Edit'), edit_invoice_path(invoice) %></td>
      <td><%= link_to t('Destroy'), invoice, method: :delete, data: { confirm: t('Are_you_sure?') } %></td>
    </tr>
  <% end %>
</table>

<br>

&nbsp;&nbsp;&nbsp;<%= link_to t('Home'), root_path %>
&nbsp;&nbsp;&nbsp;<%= link_to t('New_a'), new_invoice_path %>
