<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :invoice_y %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_invoice_path(@invoice) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), invoices_path %>
