<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <td>
            <%= f.label t :Contract_number %>
        </td>
        <td>
            <%= f.text_field :contract_number %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Record_number) %>
        </td>
        <td>
            <%= f.text_field :record_number %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Acceptance_date) %>
        </td>
        <td>
            <%= f.text_field :acceptance_date, :value => @acceptance_date %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Cadastral) %>&nbsp;<%= f.label t(:office) %>
        </td>
        <td>
            <%= f.collection_select :cadastral_office_id, @cadastral_offices, :id, :name %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_cadastral_office_path %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Fulfilment_term) %>
        </td>
        <td>
            <%= f.text_field :fulfilment_term %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Township) %>
        </td>
        <td>
            <%= f.collection_select(:township_id, @townships, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New_a'), new_township_path %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Responsible) %>
        </td>
        <td>
            <%= f.collection_select(:responsible_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Cadastral) %>&nbsp;<%= f.label t(:territory) %>
        </td>
        <td>
            <%= f.text_field :cadastral_territory %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Regarding_plat_numbers) %>
        </td>
        <td>
            <%= f.text_field :regarding_plat_numbers %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Contract_description) %>
        </td>
        <td>
            <%= f.text_area :contract_description %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Customer) %>
        </td>
        <td>
            <%= f.collection_select(:customer_id, @customers, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_customer_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Order_number) %>
        </td>
        <td>
            <%= f.text_field :order_number %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Ordered_by) %>
        </td>
        <td>
            <%= f.text_field :ordered_by %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Order_phone) %>
        </td>
        <td>
            <%= f.text_field :order_phone %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Order_way) %><br>
        </td>
        <td>
            <%= f.collection_select(:order_way_id, @order_ways, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_order_way_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Order_type) %><br>
        </td>
        <td>
            <%= f.collection_select(:order_type_id, @order_types, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_order_type_path %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Bend) %>&nbsp;1:<br>
        </td>
        <td>
            <%= f.collection_select(:bend_1_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
           </span>
       </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Bend_date) %><br>
        </td>
        <td>
            <%= f.text_field :bend_date %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Bend) %>&nbsp;2:<br>
        </td>
        <td>
            <%= f.collection_select(:bend_2_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
           </span>
       </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Drawed_up) %><br>
        </td>
        <td>
            <%= f.collection_select(:drawed_up_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Make_out_date) %><br>
        </td>
        <td>
            <%= f.text_field :make_out_date %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Sketch_number) %><br>
        </td>
        <td>
            <%= f.text_field :sketch_number %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Checked) %><br>
        </td>
        <td>
            <%= f.collection_select(:checked_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Check_date) %><br>
        </td>
        <td>
            <%= f.text_field :check_date %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Information_from_CO_ect) %><br>
        </td>
        <td>
            <%= f.text_area :information_from_CO_ect %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Other_important_particulars) %><br>
        </td>
        <td>
            <%= f.text_area :other_important_particulars %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Screened_date) %><br>
        </td>
        <td>
            <%= f.text_field :screened_date %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Screened) %><br>
        </td>
        <td>
            <%= f.collection_select(:screened_id, @employees, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_employee_path %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Unfulfill_reason) %><br>
        </td>
        <td>
            <%= f.text_area :unfulfill_reason %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Price_creation) %><br>
        </td>
        <td>
            <%= f.collection_select(:price_creation_id, @price_creations, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New_a'), new_price_creation_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Price_creation_specification) %><br>
        </td>
        <td>
            <%= f.text_area :price_creation_specification %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Invoicing_foundations) %><br>
        </td>
        <td>
            <%= f.text_area :invoicing_foundations %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Agreed_price) %><br>
        </td>
        <td>
            <%= f.text_field :agreed_price %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Handover_way) %><br>
        </td>
        <td>
            <%= f.collection_select(:handover_way_id, @handover_ways, :id, :name) %>
          <span <%= @hidden_submit %> >
            <%= link_to t('New'), new_handover_way_path %>
          </span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <%= f.label t(:Handover_date) %><br>
        </td>
        <td>
                <%= f.text_field :handover_date %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label t(:Deliver_address) %><br>
        </td>
        <td>
            <%= f.text_area :deliver_address %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
        </td>
        <td>
          <div class="actions" <%= @hidden_submit %> >
            <%= submit_tag t(@submit_value) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
<% end %>

