<h2><%=t :Listing %>&nbsp;<%=t :contracts %></h2>

<table cellspacing=15>
  <tr>
    <td><%=t :Contract_number %></td>
    <td><%=t :Record_number %></td>
    <td><%=t :Cadastral_territory %></td>
    <td><%=t :Contract_description %></td>
  </tr>
  <% @contracts.each do |contract| %>
    <tr>
      <td><%= contract.contract_number %></td>
      <td><%= contract.record_number %></td>
      <td><%= contract.cadastral_territory %></td>
      <td><%= contract.contract_description %></td>
      <td><%= link_to t(:Show), contract %></td>
      <td><%= link_to t(:Edit), edit_contract_path(contract) %></td>
      <td><%= link_to t(:Destroy), contract, method: :delete, data: { confirm: t("Are_you_sure?") } %></td>
    </tr>
  <% end %>
</table>

<br>

&nbsp;&nbsp;&nbsp;<%= link_to t(:Home), root_path %>
&nbsp;&nbsp;&nbsp;<%= link_to t(:New), new_contract_path %>

