<p id="notice"><%= notice %></p>

<h1>Showing contract</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td>
        <%=t :contract_number %>
    </td>
    <td>
        <%= @contract.contract_number %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :record_number %>
    </td>
    <td>
        <%= @contract.record_number %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :acceptance_date %>
    </td>
    <td>
        <%= @contract.acceptance_date %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :cadastral_office %>
    </td>
    <td>
        <%= @cadastral_office.name %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :fulfilment_term %>
    </td>
    <td>
        <%= @contract.fulfilment_term %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :township %>
    </td>
    <td>
        <%= @township.name %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :responsible %>
    </td>
    <td>
        <%= @employee_responsible.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :cadastral_territory %>
    </td>
    <td>
        <%= @contract.cadastral_territory %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :regarding_plat_numbers %>
    </td>
    <td>
        <%= @contract.regarding_plat_numbers %>
    </td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  <tr>
    <td>
        <%=t :contract_description %>
    </td>
    <td>
        <%= @contract.contract_description %>
    </td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  <tr>
    <td>
        <%=t :customer %>
    </td>
    <td>
        <%= @customer.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :order_number %>
    </td>
    <td>
        <%= @contract.order_number %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :ordered_by %>
    </td>
    <td>
        <%= @contract.ordered_by %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :order_phone %>
    </td>
    <td>
        <%= @contract.order_phone %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :order_way %>
    </td>
    <td>
        <%= @order_way.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :order_type %>
    </td>
    <td>
        <%= @order_type.name %>
    </td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  <tr>
    <td>
        <%=t :bend %>
    </td>
    <td>
        <%= @employee_bend.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :bend_date %>
    </td>
    <td>
        <%= @contract.bend_date %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :drawed_up %>
    </td>
    <td>
        <%= @employee_drawed_up.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :make_out_date %>
    </td>
    <td>
        <%= @contract.make_out_date %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :sketch_number %>
    </td>
    <td>
        <%= @contract.sketch_number %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :checked %>
    </td>
    <td>
        <%= @employee_checked.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :check_date %>
    </td>
    <td>
        <%= @contract.check_date %>
    </td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  <tr>
    <td>
        <%=t :information_from_CO_ect %>
    </td>
    <td>
        <%= @contract.information_from_CO_ect %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :other_important_particulars %>
    </td>
    <td>
        <%= @contract.other_important_particulars %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :screened_date %>
    </td>
    <td>
        <%= @contract.screened_date %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :screened %>
    </td>
    <td>
        <%= @employee_screened.name %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :unfulfill_reason %>
    </td>
    <td>
        <%= @contract.unfulfill_reason %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :price_creation %>
    </td>
    <td>
        <%= @price_creation.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :price_creation_specification %>
    </td>
    <td>
        <%= @contract.price_creation_specification %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :invoicing_foundations %>
    </td>
    <td>
        <%= @contract.invoicing_foundations %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :agreed_price %>
    </td>
    <td>
        <%= @contract.agreed_price %>
    </td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  <tr>
    <td>
        <%=t :handover_way %>
    </td>
    <td>
        <%= @handover_way.name %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%=t :handover_date %>
    </td>
    <td>
        <%= @contract.handover_date %>
    </td>
  </tr>
  <tr>
    <td>
        <%=t :deliver_address %>
    </td>
    <td>
        <%= @contract.deliver_address %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td>
	  	&nbsp;
    </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_contract_path(@contract) %>
<%= link_to 'List', contracts_path %>
