<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :contract_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_contract_path(@contract) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), contracts_path %>
