<h2><%=t :Editing %>&nbsp;<%=t :handover_way_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @handover_way %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), handover_ways_path %>
