<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :handover_way_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_handover_way_path(@handover_way) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), handover_ways_path %>
