<h2><%=t :Editing %>&nbsp;<%=t :source_type_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @source_type %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), source_types_path %>
