<h1>Listing source_types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%=t 'name' %></td>
    </tr>
    <% @source_types.each do |source_type| %>
      <tr>
        <td><%= source_type.name %></td>
        <td><%= link_to 'Show', source_type %></td>
        <td><%= link_to 'Edit', edit_source_type_path(source_type) %></td>
        <td><%= link_to 'Destroy', source_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
 </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'New', new_source_type_path %>
