<p id="notice"><%= notice %></p>
<p> <%= @source_type.name %> </p>


<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_source_type_path(@source_type) %>
<%= link_to 'List', source_types_path %>
<%= link_to 'Source List', sources_path %>
