<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :source_type_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_source_type_path(@source_type) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), source_types_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Source_List'), sources_path %>
