<h1><%= t('contracts') %> - N&Z Geodet</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
	  <td>
		<%= t('contract') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_contract_path %> <%= link_to t('list'), contracts_path %>
	  </td>
	  <td>&nbsp;&nbsp;&nbsp;</td>
	  <td>
		<%= t('work_diary') %>:
	  </td>
	  <td>
		<%= link_to t('new'), new_work_diary_path %> <%= link_to t('list'), work_diaries_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('employee') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_employee_path %> <%= link_to t('list'), employees_path %>
	  </td>
	  <td>&nbsp;&nbsp;&nbsp;</td>
	  <td>
		<%= t('usage_source') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_usage_source_path %> <%= link_to t('list'), usage_sources_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('customer') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_customer_path %> <%= link_to t('list'), customers_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('source_type') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_source_type_path %> <%= link_to t('list'), source_types_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('source') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_source_path %> <%= link_to t('list'), sources_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('township') %>:
	  <td>
	  	<%= link_to t('new'), new_township_path %> <%= link_to t('list'), townships_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('cadastral_office') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_cadastral_office_path %> <%= link_to t('list'), cadastral_offices_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('handover_way') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_handover_way_path %> <%= link_to t('list'), handover_ways_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('invoice') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_invoice_path %> <%= link_to t('list'), invoices_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('order_type') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_order_type_path %> <%= link_to t('list'), order_types_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('order_way') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_order_way_path %> <%= link_to t('list'), order_ways_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= t('price_creation') %>:
	  </td>
	  <td>
	  	<%= link_to t('new'), new_price_creation_path %> <%= link_to t('list'), price_creations_path %>
	  </td>
	</tr>
  </tbody>
</table>
