<h2><%=t :Editing %>&nbsp;<%=t :customer_a %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @customer %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), customers_path %>
