<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :customer_a %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_customer_path(@customer) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), customers_path %>
