<%= form_for(@order_way) do |f| %>
  <% if @order_way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_way.errors.count, "error") %> prohibited this order_way from being saved:</h2>

      <ul>
      <% @order_way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Name) %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
