<h2><%=t :Editing %>&nbsp;<%=t :order_way_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @order_way %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), order_ways_path %>
