<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :order_way_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_order_way_path(@order_way) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), order_ways_path %>
