<h2><%=t :Editing %>&nbsp;<%=t :cadastral_office_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @cadastral_office %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), cadastral_offices_path %>
