<h1>Listing cadastral_offices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%=t 'name' %></td>
    </tr>
    <% @cadastral_offices.each do |cadastral_office| %>
      <tr>
        <td><%= cadastral_office.name %></td>
        <td><%= link_to 'Show', cadastral_office %></td>
        <td><%= link_to 'Edit', edit_cadastral_office_path(cadastral_office) %></td>
        <td><%= link_to 'Destroy', cadastral_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastral office', new_cadastral_office_path %>
