<%= form_for(@usage_source) do |f| %>
  <% if @usage_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usage_source.errors.count, "error") %> prohibited this usage_source from being saved:</h2>

      <ul>
      <% @usage_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Reported_by) %><br>
    <%= f.collection_select(:employee_id, @employees, :id, :name) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Contract) %><br>
    <%= f.collection_select(:contract_id, @contracts, :id, :contract_number) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Source) %><br>
    <%= f.collection_select(:source_id, @sources, :id, :description) %>
    <span <%= @hidden_submit %> >
      <%= link_to t('New'), new_source_path %>
    </span>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:From) %><br>
    <%= f.text_field :from, :value => @from %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:To) %><br>
    <%= f.text_field :to, :value => @to %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Unit_number) %><br>
    <%= f.text_field :unit_number %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Amount) %><br>
    <%= f.text_field :amount %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
