<%= form_for(@usage_source) do |f| %>
  <% if @usage_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usage_source.errors.count, "error") %> prohibited this usage_source from being saved:</h2>

      <ul>
      <% @usage_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :reported_by %><br>
    <%= f.collection_select(:employee_id, @employees, :id, :name) %>
  </div>

  <div>
    <%= f.label :contract %><br>
    <%= f.collection_select(:contract_id, @contracts, :id, :contract_number) %>
  </div>

  <div>
    <%= f.label :source %><br>
    <%= f.collection_select(:source_id, @sources, :id, :description) %>
    <%= link_to t('new'), new_source_path %>
  </div>

  <div>
    <%= f.label :from %><br>
    <%= f.text_field :from, :value => Time.now %>
  </div>

  <div>
    <%= f.label :to %><br>
    <%= f.text_field :to, :value => Time.now %>
  </div>

  <div>
    <%= f.label :unit_number %><br>
    <%= f.text_field :unit_number, :value => "km" %>
  </div>

  <div>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
