<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :usage_source %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_usage_source_path(@usage_source) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), usage_sources_path %>
