<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :township_e %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_township_path(@township) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), townships_path %>
