<%= form_for(@price_creation) do |f| %>
  <% if @price_creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_creation.errors.count, "error") %> prohibited this price_creation from being saved:</h2>

      <ul>
      <% @price_creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Name) %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
