<h2><%=t :Editing %>&nbsp;<%=t :price_creation_y %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @price_creation %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), price_creations_path %>
