<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :price_creation_y %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_price_creation_path(@price_creation) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), price_creations_path %>
