<%= form_for(@work_diary) do |f| %>
  <% if @work_diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_diary.errors.count, "error") %> prohibited this work_diary from being saved:</h2>

      <ul>
      <% @work_diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :employee %><br>
    <%= f.collection_select(:employee_id, @employees, :id, :name) %>
  </div>

  <div>
    <%= f.label :contract %><br>
    <%= f.collection_select(:contract_id, @contracts, :id, :contract_number) %>
  </div>

  <div>
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>

  <div>
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
