<%= form_for(@work_diary) do |f| %>
  <% if @work_diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_diary.errors.count, "error") %> prohibited this work_diary from being saved:</h2>

      <ul>
      <% @work_diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Employee) %><br>
    <%= f.collection_select(:employee_id, @employees, :id, :name) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Contract) %><br>
    <%= f.collection_select(:contract_id, @contracts, :id, :contract_number) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:Doing) %><br>
    <%= f.text_field :doing %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:From) %><br>
    <%= f.text_field :from, :value => @from %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div>
    <%= f.label t(:To) %><br>
    <%= f.text_field :to, :value => @to %>
  </div>

  <div>
    &nbsp;<br>
  </div>

  <div class="actions" <%= @hidden_submit %> >
    <%= submit_tag t(@submit_value) %>
  </div>

  <div>
    &nbsp;<br>
  </div>

<% end %>
