<h2><%=t :Editing %>&nbsp;<%=t :work_diary_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Show'), @work_diary %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), work_diaries_path %>
