<p id="notice"><%= notice %></p>

<h2><%=t :Showing %>&nbsp;<%=t :work_diary_u %></h2>

<%= render 'form' %>

<%= link_to t('Home'), root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to t('Edit'), edit_work_diary_path(@work_diary) %>&nbsp;&nbsp;&nbsp;
<%= link_to t('List'), work_diaries_path %>
